h1 {
   font-size: 2.25rem;
   font-weight: 200;
   color: hsl(234, 12%, 34%);
   margin-top: 85px;
}

h2 {
   font-size: 2.25rem;
   font-weight: 600;
   color: hsl(234, 12%, 34%);
   margin: 15px 0px 25px;
}

p {
   font-size: 0.8125rem;
   font-weight: 400;
   color: hsl(229, 6%, 66%);
   text-align: left;
   line-height: 1.75;
}

.header-text {
   font-size: 1rem;
   font-weight: 400;
   color: hsl(229, 6%, 66%);
   line-height: 1.55;
   text-align: center;
   margin-bottom: 33px;
   width: 560px;
}

.main-header {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.card-text {
   margin: 15px 0;
}

h3 {
   font-size: 1.25rem;
   font-weight: 600;
   color: hsl(234, 12%, 34%);
   text-align: left;
   margin: 2px;
}

.card {
   border: solid black;
   border-width: 4px 0px 0px;
   border-radius: 10px;
   padding: 30px;
   margin: 30px 15px;
   box-shadow: 2px 10px 20px hsl(212, 86%, 90%);
   width: 290px;
   height: 186px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.all-cards {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
}

.card-green {
   border-color: hsl(180, 62%, 55%);
}

.card-red {
   border-color: hsl(0, 78%, 62%);
}

.card-orange {
   border-color: hsl(34, 97%, 64%);
}

.card-blue {
   border-color: hsl(212, 86%, 64%);
}

.icon-div {
   text-align: right;
}

@media only screen and (max-width: 500px) {
   .all-cards {
      flex-direction: column;
      justify-content: flex-start;
   }

   .card {
      margin: 12px 0px;
      width: 252px;
      height: 158px;
   }

   .sub-cards {
      margin: 0px;
      padding: 0px;
      display: flex;
      flex-direction: column;
   }

   h1 {
      font-size: 1.5rem;
   }

   h2 {
      font-size: 1.5rem;
   }

   .header-text {
      width: 320px;
      margin-bottom: 63px;
   }
}